# Project Name
project

# Prerequisite
*.d

# Compiled Object file
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic librarie
*.so
*.dylib
*.dll

# Valgrind
vgcore.*
vgcore.16287

# Fortran module files
*.mod
*.smod

# Compiled Static librarie
*.lai
*.la
*.a
*.lib

# Executable
*.exe
*.out
*.app
